<div class="row">
  <div class="col-sm-8 col-sm-push-2">
    <ul class="nav nav-pills nav-justified">
      <li><a href="#" rel="prev">&larr; <%= previous %></a></li>
      <li class="active"><a href="#"><%= current %></a></li>
      <li><a href="#" rel="next"><%= next %> &rarr;</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <table class="table table-collapse">
    <thead>
      <tr>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div><!-- .row -->