<div class="row">
  <div class="col-sm-5">
    <h2><%= current %></h2>
  </div>
  <div class="col-sm-7">
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group">
        <button type="button" class="btn btn-default previous">&larr; <%= previous %></button>
        <button type="button" class="btn btn-default next"><%= next %> &rarr;</a></button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-default current">Current Month</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <table class="table table-collapse">
    <thead>
      <tr>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div><!-- .row -->